.content-wrapper{
	font-size: 16px;
	width: 70%;
	margin: 0 auto;
	/*border: 1px solid silver;*/
	padding: 1em 0.4em;
	background-color: white;
}


.content-wrapper > h3,h4 {
	color: #436c6e;
	font-family: "Gotham Pro","Arial",sans-serif;
	font-weight: 500;
	margin-left: 2em;
}

.content-wrapper > h3 {
	font-size: 2.2em;
}

.content-wrapper > h4 {
	font-size: 1.6em;
}

.content-wrapper > p {
	color: #2d2d2d;
	font-family: "Gotham Pro";
	font-size: 24px;
	font-weight: 400;
	text-indent: 1%;
}

/* ul {
	list-style-image: url("../img/ico_valid.png");
} */

.content-wrapper > .separation {
	width: 80px;
	height: 5px;
	background-color: #dc485d;
	margin: 0.5em 0;
}